# Configurações de Ambiente para Testes K6

# Ambiente de Desenvolvimento
BASE_URL=http://localhost:3000
ENVIRONMENT=dev

# Ambiente de Homologação
# BASE_URL=http://hml-api.example.com
# ENVIRONMENT=hml

# Ambiente de Produção
# BASE_URL=http://api.example.com
# ENVIRONMENT=prod

# Configurações adicionais
TEST_DURATION=5m
VUS=50
